@{
    ViewData["Title"] = "Account Details";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="page-header">
                <span id="page-name">
                    <h1>
                        <span class="book-cave-color">ACCOUNT</span><span id="list">DETAILS</span>
                    </h1>
                </span>
            </div>

            <form class="input-form" method="post">

                <fieldset class="inline-block upload-image">
                    <input type="image" src="https://getstamped.co.uk/wp-content/uploads/Placeholder.jpg" style="width: 300px"/>
                    <input type="file" id="user-image" style="display: none;"/>
                </fieldset>
                <fieldset>
                    <div class="form-inputs">
                        <div class="form-group">
                            <label asp-for="@Model.FirstName">First Name</label>
                            <input asp-for="@Model.FirstName" type="text" class="form-control" id="user-name" placeholder="Enter first name">
                        </div>
                         <div class="form-group">
                            <label asp-for="@Model.LastName">Last Name</label>
                            <input asp-for="@Model.LastName" type="text" class="form-control" id="user-name" placeholder="Enter last name">
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Email">Email address</label>
                            <input asp-for="@Model.Email" type="email" class="form-control" id="user-email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.PhoneNumber">Phone Number</label>
                            <input asp-for="@Model.PhoneNumber" type="text" class="form-control" id="user-phone" placeholder="Enter phone number">
                        </div>
                        <div class="grey-buttons">
                            <a class="btn btn-default grey-buttons" type="submit" asp-area="" asp-controller="" asp-action="">Update</a>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Password">New Password</label>
                            <input asp-for="@Model.Password" type="password" class="form-control" id="user-password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Password">Confirm New Password</label>
                            <input asp-for="@Model.Password" type="password" class="form-control" id="user-password-confirm" placeholder="Password">
                        </div>
                        <div class="grey-buttons">
                            <a class="btn btn-default grey-buttons" type="submit" asp-area="" asp-controller="" asp-action="">Update</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>