@using BookCave.Services
@model BookCave.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Review Order";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1 clas="inline-block">
                    <span class="book-cave-color">REVIEW</span><span>ORDER</span>
                </h1>
            </div>
            <table>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr class="list-item">
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="pull-left" asp-controller="Product" asp-action="BookDetail">
                                        <div class="col-sm-2 hidden-xs">
                                            <img class="bookDetailImg" src=@item.Image class="media-object" alt="ItemImage">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <ul>
                                            <li>
                                                <h5>@item.ProductName</h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>

                            <td class="col-sm-1 col-md-2" valign="top">
                                <p>
                                    <h5>Quantity: @item.Quantity</h5>
                                </p>
                            </td>
                            <td class="col-sm-1 col-md-2" valign="top">
                                <p>
                                    <h5>Price: $@item.Price</h5>
                                </p>
                            </td>
                        </tr>
                    }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    @using (Html.BeginForm())
                    {
                        var total = Helper.GetTotalPrice(Model);
                        <td>Total: $ @total</td>
                    }
                </tr>
                </tbody>
            </table>
            <hr/>
            <div id="user-addresses">
                <h4>Shipping Address: @Model.ShippingAdress.Street @Model.ShippingAdress.Zipcode @Model.ShippingAdress.City @Model.ShippingAdress.Country </h4>
                <br/>
                <h4>Billing Address: @Model.BillingAddress.Street @Model.BillingAddress.Zipcode @Model.BillingAddress.City @Model.BillingAddress.Country </h4>
            </div>
            <div class="button-options grey-buttons">
                <form method="post" asp-controller="Order" asp-action="Checkout">
                    <input class="btn btn-default grey-buttons" type="submit" value="Confirm & Pay"/>
                </form>
                <a class="btn btn-default grey-buttons" type="button" asp-area="" asp-controller="Order" asp-action="Address">Edit Addresses</a>
            </div>
        </div>
    </div>
</div>