@model IEnumerable<BookCave.Models.ViewModels.BookViewModel>


@{
    ViewData["Title"] = ""; <!--MUNA AÃ BREYTA-->
}


<div class="container-fluid">
    <div class="row center">
    @foreach(var book in Model){
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <div>
                    <h1><span class="book-cave-color">BOOK</span><span>DETAILS</span></h1>
                </div>
            </div>
            <table>
                <tbody>
                <tr>
                    <td class="col-sm-3 col-md-3" valign="top">
                        <div>
                            <img alt="Cover Art" class="bookDetailImg" src="@book.Image"/>
                        </div>
                    </td>
                    <td class="col-sm-5 col-md-5" valign="top">
                        <div>
                            <ul>
                                <li><h4>@book.Name</h4></li>
                                <li>Author: @book.Authors</li>
                                <li>
                                    Format: @book.GetType().Name
                                </li>
                                <li>Pages: @book.Length</li>
                                <li>Release Date: @book.ReleaseDate</li>
                                <li>Language: @book.Languages</li>
                                <li>Publisher: @book.Publisher</li>
                                <li>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="grey"> No rating(s) </span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="col-sm-2 col-md-2" valign="top">
                        <div>
                            <h5>Price:</h5>
                        </div>
                    </td>
                    <td class="col-sm-2 col-md-2" valign="top">

                        <div>
                            <div class="button-options grey-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Buy Now
                                </a>
                            </div>
                            <div class="button-options green-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Add to Cart
                                </a>
                            </div>
                            <div class="button-options green-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Add to WishList
                                </a>
                            </div>
                            <div class="button-options green-buttons">
                                <a class="btn btn-default" type="button" asp-area="" asp-controller="" asp-action="">
                                    Add a Review
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div>
                    <h3>Synopsis</h3>
                    <hr/>
                    <div>
                        @book.Description
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div>
                    @foreach(var review in book.Reviews){
                    <h3>Review</h3>

                    <hr/>
                        <div class="row">
                            <div class="col-sm-2">
                                <div>@review.Customer.FullName </div>
                                <div> @review.Rating out of 5.
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                    <span class="fa fa-star grey"></span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div>
                                    @review.ReviewString
                                    <hr>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    </div>
</div>
